{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
    <title>Reflectia - {% block title %}{% endblock title %}</title>
    {% compress css %} 
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

</head>

<body  class="font-body h-screen  bg-base-50 p-8">
    
    <!-- Navbar Starts -->
    <nav>
        {% include "components/navbar.html" %}
    </nav>
    <!-- Navbar Ends -->

    <!-- Hero Section Starts -->
    <section>
        {% include "app/hero.html" %}
    </section>
    <!-- Hero Section Ends -->
    
    
    <div class="container mx-auto ">
        
        <h1 class="text-2xl text-deep-koamaru-950 font-black mt-28">Testing the font</h1>
        {% block content %}

        {% endblock content %}


    </div>
</body>

<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>

</html>
