{% load compress %}
{% load static %}

<!-- Hero Section Start -->
<header class="mt-24 grid grid-rows-1 grid-flow-col gap-2 ">
    <h1 class="text-reflectia-200 header-font text-8xl text-left ">
        Unlock Your Potential. Thought By Thought.
    </h1>
    <div class="place-self-end h-24">
        <div> 
            <p class="text-left">Reflectia's here to support you. Explore your thoughts, identify biases, and watch yourself blossom. Let's start your self-discovery journey together!</p>
            <div class="mt-4">
                <button class="border border-reflectia-200 px-4 py-2 rounded-full ">Learn More</button>
                <button class="border border-reflectia-200 px-4 py-2 rounded-full mx-4">Get Started</button>
            </div>
        </div>

    </div>
</header>
<!-- Hero Section End -->

<!-- Self Mastery Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 header-font text-8xl text-center w-11/12 mx-auto">
        Self Mastery Made Easy. Reflect.Become You.
    </h1>
    <div class="flex justify-center items-center">
        <img class=" w-3/4  object-contain" src="{% static "images/image/10313329_14.png"%}" alt="3D Mobile Phones">
    </div>
</section>
<!-- Self Mastery Section End -->

 <!-- Guide Section Start -->
<section class="mt-24" id="howItWorks">
    <h1 class="text-reflectia-200 header-font text-8xl text-center w-11/12 mx-auto">
        Here's How Reflectia Guides You
    </h1>
    <p class="mt-12 text-center">
        Reflectia makes self-discovery simple and engaging. Just share your thoughts, and our AI companion will analyze them,
        offering insights, philosophical connections, and personalized growth plans. It's like having a supportive guide on your
        journey to a deeper understanding of yourself. 
    </p>
    <div class="mt-12 grid grid-cols-3 grid-rows-3 gap-12 w-3/4 justify-center mx-auto">
        <p>01/</p>
        <p>Share Your Thoughts.</p>
        <p>Reflectia lets you explore your thoughts
            and feelings by entering them and
            offering gentle prompts to dig deeper,
            without overloading you with questions.</p>

        <p>02/</p>
        <p>Explore, Reflect, and Grow Reflectia</p>
        <p>Reflectia analyzes your thoughts, feelings
            and any biases, then offers a personalized
            response that validates you, provides
            insights and connects your experience to
            philosophical ideas, even including a
            relevant quote.</p>

        <p>03/</p>
        <p>Personalized Growth Plans Based On Reflections</p>
        <p>Reflectia doesn't stop at helping you
            understand yourself. It goes further by
            suggesting personalized growth plans
            based on your reflections. These plans
            can include articles, videos, journaling
            prompts, or even resources to address
            potential biases. You're always in control,
            choosing whether to delve deeper or
            simply reflect on the insights provided.</p>

    </div>
</section>
  <!-- Guide Section End -->

  <!-- Choose Your Experience Section -->
<section class="mt-24">
        <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
            Choose Your Reflectia Experience
        </h1>
        <p class="mt-12 text-center">
            Unleash your self-discovery journey with a pricing plan that fits your needs. Explore the free tier or unlock the full potential 
            of Reflectia Pro with personalized growth plans, in-depth insights, and more.
        </p>
        <div class="py-12 px-6 mx-auto container mt-12">
                <div class="flex items-center justify-center w-full">
                    <div class="pt-14">
                        <div class="mx-auto">
                            <div class="grid grid-cols-2 gap-12 ">
                                <div class="p-12">
                                    <div class="py-5 px-4 bg-indigo-700 border-t border-b border-gray-200 dark:border-gray-700 text-left p-12">
                                        <h1 class="text-8xl text-white font-semibold mb-8">Free</h1>
                                        <p class="mt-12 text-left">
                                            Ideal for casual users who want to explore 
self-discovery with basic features.
                                        </p>
                                        <h2 class="text-8xl text-white font-semibold mt-12">$0</h2>
                                        <ul class="flex flex-col mb-6 mt-6">
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Analyze one thought per day. </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Receive basic insights and emotional validation. </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Access a limited library of self-discovery articles. </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">View a curated "Quote of the Day" related to 
                                                    philosophys</p>
                                            </li>
                                    </div>
                                </div>
                                <div class="p-12">
                                    <div class="py-5 px-4 bg-indigo-700 border-t border-b border-gray-200 dark:border-gray-700  text-left p-12">
                                        <h2 class="text-8xl text-white font-semibold mb-8">Premium</h2>
                                        <p class=" text-left mt-12">
                                            For regular users who want a deeper dive into 
self-discovery and personalized growth.
                                        </p>
                                        <h2 class="text-8xl text-white font-semibold mt-12">$12/m</h2>
                                        <ul class="flex flex-col mb-6 mt-6">
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Unlimited daily thought analysis.</p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">In-depth insights with connections to relevant       
                                                    philosophical concepts.  </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Personalized growth plans with articles, videos, and 
                                                    journaling prompts. </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Access to a library of guided meditations and 
                                                    mindfulness exercises.</p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Identify and address potential biases in your thinking. </p>
                                            </li>
                                            <li class="flex items-center mb-2.5">
                                                <img src="https://cdn.tuk.dev/assets/templates/weCare/checkMarkWhite.png" class="mr-4" alt="check-mark" />
                                                <p class="text-white text-base font-normal">Track progress and see personal growth over time 
                                                    with data visualization. </p>
                                            </li>
                                        </ul>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .checkbox:checked {
                right: 0;
                background-color: #4338ca;
            }
        </style>
    
</section>
  <!-- Choose Your Experience Section End -->

  <!-- Features Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
        Explore Powerful Features For Deeper Self Discovery
    </h1>
    <p class="mt-12 w-3/4 mx-auto text-center ">Dive deeper into your thoughts and emotions with Reflectia's innovative features. From daily analysis to personalized growth plans, we empower you to understand yourself, overcome biases, and unlock your full potentia</p>
    <div class="grid grid-cols-2 grid-rows-2 gap-12 w-3/4 justify-center mx-auto mt-12 justify-items-center">
        <div class="border-t border-b border-reflectia-200 p-6">
            <h3 class="mb-6">Daily Thought Analysis</h3>
            <p>Dive deeper into one thought each day. Reflectia analyzes it, revealing hidden themes, emotions, and potential biases.</p>
        </div>
        <div class="border-t border-b border-reflectia-200 p-6">
            <h3 class="mb-6">Emotional Validation</h3>
            <p>We get it. Reflectia acknowledges your thoughts and validates your emotions, creating a safe space for self reflection.</p>
        </div>
        <div class="border-t border-b border-reflectia-200 p-6">
            <h3 class="mb-6">Basic Insights</h3>
            <p>Get a glimpse into your thought. Reflectia offers initial observations to spark further reflection</p>
        </div>
        <div class="border-t border-b border-reflectia-200 p-6">
            <h3 class="mb-6">Curated Quote of the Day</h3>
            <p>Gain a daily dose of wisdom. Receive a thought-provoking philosophical quote related to your thought</p>
        </div>
    </div>
</section>
  <!-- Features Section End -->

  <!-- Testimonials Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
        What Others Are Saying About Reflectia
    </h1>
    <p class="mt-12 w-3/4 mx-auto text-center">
        Unleash your self-discovery journey with a pricing plan that fits your needs. Don't just take our word for it. Hear how Reflectia has helped others on their journey of self-discovery. Get inspired by real user experiences and see how Reflectia can empower you too! the free tier or unlock the full potential of Reflectia Pro with personalized growth plans, in-depth insights, and more.
    </p>
    <div>
        <div class="w-3/4 h-40 bg-reflectia-50 mt-12 rounded-lg justify-center mx-auto">
            <div class="p-12 text-center text-reflectia-950">
                <p>This is the Testimonial Message</p>
                <div class="w-10">
                    <img src="" alt="">
                </div>
                <p>Name</p>
                <p>Tag</p>
            </div>
        </div>
        <div class="flex flex-row mt-12 mx-40 space-x-16">
            <div class="border border-reflectia-200 rounded-full p-6">
              <!--   <span class="fa fa-chevron-left text-sm"></span>  -->
            </div>
            <div class="border border-reflectia-200 rounded-full p-6">
                <!-- <span class="fa fa-chevron-right"></span> -->
            </div>
        </div>
    </div>

</section>
  <!-- Testimonials Section End -->

  <!-- CTA Section Start -->
<section class="mt-24">
    <div class="bg-reflectia-50 w-11/12 justify-center mx-auto rounded-3xl">
        <div class="p-12 flex flex-col items-center justify-center">
            <h1 class="text-reflectia-950 text-center header-font text-8xl w-11/12 mx-auto">Install Reflectia<br>And Unlock Yourself</h1>
            <p class="mt-12 w-3/4 mx-auto text-center text-reflectia-950" >
                Ready to embark on a path of self-discovery? Install Reflectia now and begin exploring the hidden depths of your thoughts and emotions. It's free to start, and the potential for growth is limitless.
            </p>
            <div >
               <a href="{% url "account_signup" %}"> <button class="mt-12 text-reflectia-950 border border-reflectia-950 px-4 py-2 rounded-full ">Get Started</button></a>
            </div>
        </div>
    </div>
</section>
  <!-- CTA Section End -->


