{% load compress %}
{% load static %}

<!-- Hero Section Start -->
<section class="mt-24 grid grid-rows-1 grid-flow-col gap-2 ">
    <h1 class="text-reflectia-200 header-font text-8xl text-left ">
        Unlock Your Potential. Thought By Thought.
    </h1>
    <div >
        <div class="place-self-start"> 
            <p class="text-left">Reflectia's here to support you. Explore your thoughts, identify biases, and watch yourself blossom. Let's start your self-discovery journey together!</p>
            <div class="mt-4">
                <button class="border border-reflectia-200 px-4 py-2 rounded-full ">Learn More</button>
                <button class="border border-reflectia-200 px-4 py-2 rounded-full mx-4">Get Started</button>
            </div>
        </div>

    </div>
</section>
<!-- Hero Section End -->

<!-- Self Mastery Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 header-font text-8xl text-center w-11/12 mx-auto">
        Self Mastery Made Easy. Reflect.Become You.
    </h1>
    <div class="flex justify-center items-center">
        <img class=" w-3/4  object-contain" src="{% static "images/image/10313329_14.png"%}" alt="3D Mobile Phones">
    </div>
</section>
<!-- Self Mastery Section End -->

 <!-- Guide Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 header-font text-8xl text-center w-11/12 mx-auto">
        Here's How Reflectia Guides You
    </h1>
    <p class="mt-12 text-center">
        Reflectia makes self-discovery simple and engaging. Just share your thoughts, and our AI companion will analyze them,
        offering insights, philosophical connections, and personalized growth plans. It's like having a supportive guide on your
        journey to a deeper understanding of yourself. 
    </p>
    <div class="mt-12 grid grid-cols-3 grid-rows-3 gap-12 w-3/4 justify-center mx-auto">
        <p>01/</p>
        <p>Share Your Thoughts.</p>
        <p>Reflectia lets you explore your thoughts
            and feelings by entering them and
            offering gentle prompts to dig deeper,
            without overloading you with questions.</p>

        <p>02/</p>
        <p>Explore, Reflect, and Grow Reflectia</p>
        <p>Reflectia analyzes your thoughts, feelings
            and any biases, then offers a personalized
            response that validates you, provides
            insights and connects your experience to
            philosophical ideas, even including a
            relevant quote.</p>

        <p>03/</p>
        <p>Personalized Growth Plans Based On Reflections</p>
        <p>Reflectia doesn't stop at helping you
            understand yourself. It goes further by
            suggesting personalized growth plans
            based on your reflections. These plans
            can include articles, videos, journaling
            prompts, or even resources to address
            potential biases. You're always in control,
            choosing whether to delve deeper or
            simply reflect on the insights provided.</p>

    </div>
</section>
  <!-- Guide Section End -->

  <!-- Choose Your Experience Section -->
<section class="mt-24">
        <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
            Choose Your Reflectia Experience
        </h1>
        <div class="mt-12 grid grid-cols-2 grid-flow-row gap-4 w-3/4 justify-center mx-auto justify-items-center">
            <div class="border-t border-b border-reflectia-200" >Free</div>
            <div class=" border-t border-b border-reflectia-200">Premium</div>
        </div>
</section>
  <!-- Choose Your Experience Section End -->

  <!-- Features Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
        Explore Powerful Features For Deeper Self Discovery
    </h1>
    <p class="mt-12 w-3/4 mx-auto text-center ">Dive deeper into your thoughts and emotions with Reflectia's innovative features. From daily analysis to personalized growth plans, we empower you to understand yourself, overcome biases, and unlock your full potentia</p>
    <div class="grid grid-cols-2 grid-rows-2 gap-12 w-3/4 justify-center mx-auto mt-12 justify-items-center">
        <div>
            <p>1</p>
        </div>
        <div>
            <p>2</p>
        </div>
        <div>
            <p>3</p>
        </div>
        <div>
            <p>4</p>
        </div>
    </div>
</section>
  <!-- Features Section End -->

  <!-- Testimonials Section Start -->
<section class="mt-24">
    <h1 class="text-reflectia-200 text-center header-font text-8xl w-11/12 mx-auto">
        What Others Are Saying About Reflectia
    </h1>
    <p class="mt-12 w-3/4 mx-auto text-center">
        Unleash your self-discovery journey with a pricing plan that fits your needs. Don't just take our word for it. Hear how Reflectia has helped others on their journey of self-discovery. Get inspired by real user experiences and see how Reflectia can empower you too! the free tier or unlock the full potential of Reflectia Pro with personalized growth plans, in-depth insights, and more.
    </p>
    <div>
        <div class="w-3/4 h-40 bg-reflectia-50 mt-12 rounded-lg justify-center mx-auto">

        </div>
        <div class="flex flex-row mt-12 mx-40 space-x-16">
            <p class="border border-reflectia-200 rounded-full p-6"></p>
            <p class="border border-reflectia-200 rounded-full p-6"></p>
        </div>
    </div>

</section>
  <!-- Testimonials Section End -->

  <!-- CTA Section Start -->
<section class="mt-24">
    <div class="bg-reflectia-50 w-11/12 justify-center mx-auto rounded-3xl">
        <div class="p-12 flex flex-col items-center justify-center">
            <h1 class="text-reflectia-950 text-center header-font text-8xl w-11/12 mx-auto">Install Reflectia And Unlock Yourself</h1>
            <p class="mt-12 w-3/4 mx-auto text-center text-reflectia-950" >
                Ready to embark on a path of self-discovery? Install Reflectia now and begin exploring the hidden depths of your thoughts and emotions. It's free to start, and the potential for growth is limitless.
            </p>
            <div >
                <button class="mt-12 text-reflectia-950 border border-reflectia-950 px-4 py-2 rounded-full ">Get Started</button>
            </div>
        </div>
    </div>
</section>
  <!-- CTA Section End -->


