{% extends "app/_base.html" %}
{% block content %}
    <!-- Navbar Starts -->
    <nav>
        {% include "components/navbar.html" %}
    </nav>
    <!-- Navbar Ends -->
    <!-- Hero Section Starts -->
    <section>
        {% include "app/hero.html" %}
    </section>
    <!-- Hero Section Ends -->

    <!-- Scroll To Top Button -->
    <section>
	    {% include "components/scroll_to_top.html" %}

    <!-- Scroll To Top Button Ends -->
    <!-- Footer Section -->
    <footer>
        {% include "components/footer.html" %}
    </footer>
    <!-- Footer Section -->
{% endblock content %}

