{% load compress %}
{% load static %}

<!-- Footer Start -->
<section class="mt-36">
    <div class="border-t border-reflectia-200">
        <div class="mt-6 flex flex-row justify-between">
            <div class="w-24"><a href="#"><img src="{% static "images/logo/White-logo.png"%}" alt=""></a></div>
            <div class="flex flex-row justify-between space-x-24">
                <p>Legal</p>
                <p>Terms</p>
                <p>Cookies</p>
            </div>
            <p>Reflecti.All rights reserved.</p>

        </div>

    </div>
</section>
<!-- Footer End -->